.Attractions {
    background-color: rgb(167, 177, 158);
    display: flex;
    margin-left: 300px;
    height: 100%;
    width: calc(100% - 300px);
    flex-direction: column;
    position: absolute;
    align-content: space-between;
}