.Attraction {
    padding: 2px;
    background-color: #35D59D;

    .ImageWrapper {
        img {
            height: 60%;
            width: 60%;
            position: relative;
            left: 20%;
            border: 1px solid black;
            box-shadow: 1px 10px 15px rgb(35, 38, 39);
            border-radius: 15px;


        }
    }

    border: 1px solid black;
    box-shadow: 1px 10px 15px rgb(35, 38, 39);
    margin: 10px;
    border-radius: 15px;
    
    .Button, p, img, h1 {
        margin: 10px;
    }
 
    .Button {
        // margin: auto 50%;
        // width: 150px;
      
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
        }
     
    }
}