.Toolbar {
    max-height: 90px;
    background-image: linear-gradient(to top, rgb(50, 224, 163), rgb(25, 104, 76));
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(253, 249, 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    width: 100%;
}