.Attractions {
    background-color: rgb(167, 177, 158);
    display: flex;
    height: 100%;
    width: calc(100% - 300px);
    flex-direction: column;
    position: relative;
    align-content: space-between;
    padding: 15px;
    margin: 10px;
    // min-width: 700px;
    // min-height: 700px;
    border-radius: 25px;
    box-shadow: 1px 10px 15px rgb(35, 38, 39);
    border: 1px solid black;
    z-index: 2;

}

.AttractionsNull {
    width: calc(100% - 400px);
    height: 801px;
    opacity: .7;
    z-index: 1;
    position: relative;
    background-image: url(https://i.ytimg.com/vi/18wVDHvOkH4/maxresdefault.jpg);
    background-repeat: no-repeat;   
    margin: auto;
}