.Attractions {
    background-color: rgb(167, 177, 158);
    display: flex;
    height: 100%;
    width: calc(100% - 300px);
    flex-direction: column;
    position: relative;
    align-content: space-between;
    padding: 15px;
}

.AttractionsNull {
    background-color: #fff;
}