 .Button {
  margin: 10px;
  border: none;
  padding: 5px 30px;
  box-shadow: 0 3px 4px #111;
  font-size: 1rem;
  color: #fff;
  background-color: rgb(69, 230, 69);
  cursor: pointer;
  user-select: none;
  transition:
      background-color 200ms ease,
      text-shadow 200ms ease,
      transform 50ms ease;

  &:hover {
      background-color: darken(green, 10%);
      text-shadow: 0 0 3px #fff;
  }

  &:active {
      transform: scale(.95);
  }

  a { 
    text-decoration: none;
  }
  
  li {
    list-style-type: none;
  }
  // &.Alternative {
  //     border: 3px solid $accent;
  //     font-weight: bold;
  //     color: $accent;
  //     box-shadow: none;
  //     background-color: transparent;
  //     transition:
  //         color 200ms ease,
  //         border-color 200ms ease;

  //     &:hover {
  //         color: darken($accent, 10%);
  //         border-color: darken($accent, 10%);
  //     }

  //     &:active {
  //         transform: none;
  //     }
  // }
}