.App {
    display: grid;
    height: 100vh;
    position: relative;
    grid-template-areas: 
    "Toolbar Toolbar Toolbar"
    "Sidebar Attractions Attractions"
    "Footer Footer Footer";
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: 10% 1fr;

    .Toolbar {
        grid-area: Toolbar;
    }

    .Sidebar {
        grid-area: Sidebar;
    }

    .Attractions {
        grid-area: Attractions;
    }

    .Footer {
        grid-area: Footer;
    }


}